@import "~vuetify/src/styles/settings/_index";

*::-webkit-scrollbar {
  width: 0.4rem;
  height: 0.2rem;
  transition: width 0.3s;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
*::-webkit-scrollbar-thumb {
  background-color: rgba(144, 144, 144, 0.5);
  border-radius: 0.2rem;
}

body::-webkit-scrollbar,
nav *::-webkit-scrollbar {
  display: none;
}
nav:hover *::-webkit-scrollbar {
  display: block;
}
